<%-include("header")-%>
<div class="box">

   <h2>About</h2>
   
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam similique beatae nemo aspernatur consectetur vitae provident ea fugit est asperiores adipisci, fugiat corporis quis placeat perspiciatis. Veritatis animi, recusandae temporibus facilis dolorem magni iure?</p>
</div>

<%-include("footer")-%>
