<%-include("header")-%>

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ipsam nesciunt sapiente iste at sit perferendis nihil! Maiores sint culpa consequatur architecto numquam ratione aut voluptatibus voluptatum corrupti impedit, reiciendis illo esse quae velit.</p>

<%-include("footer")-%>
