@font-face {
  font-family: 'Raleway';
  src: url('./font/Devans.otf');
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  padding: 30px;
  margin: 0 50px 0 50px;
}

body {
  background-image: url(./images/background.jpg);
}

h1 {
  margin: 30px;
  font-family: 'Raleway', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 3rem;
  color: #4ecca3;
  font-family: 'Raleway', cursive;
}

img {
  width: 100%;
}

.btn {
  width: 20%;
}

.btn:hover {
  cursor: pointer;
}

footer {
  margin-right: 5%;
  color: #eeeeee;
  text-align: right;
  font-family: 'Raleway', cursive;
}
